.top_menu {
    display: inline-block;
    position: absolute;
    right: 17%;
    min-width: 180px;
}

#main {
  position: relative;
  list-style: none;
  font-weight: 400;
  font-size: 0;
  text-transform: none;
  display: inline-block;
  padding: 0;
  margin: 10px auto 0;
}
#main li {
  font-size: 10pt;
  display: inline-block;
  position: relative;
  padding: 19px 15px;
  cursor: pointer;
  z-index: 5;
  min-width: 100px;
}
#main a {
    display: block;
}

li {
  margin: 0;
}

.drop {
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  width: fit-content;
  left: 0;
  top: 58px;
  visibility: hidden;
}
.drop div {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: all 0.5s 0.1s;
  -moz-transition: all 0.5s 0.1s;
  -ms-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
  position: relative;
}
.drop li {
  display: block;
  padding: 5px !important;
  width: 100%;
  background: #f5f5f5 !important;
}

.drop a {
    color: black;
    display: block;
}

#marker {
  height: 6px;
  background: lightsteelblue !important;
  position: absolute;
  left:20px;
  bottom: 0;
  width: 130px;
  z-index: 2;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}

#main li:nth-child(1):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  visibility: visible!important;
}
#main li:nth-child(1):hover ~ #marker {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

#main li:nth-child(2):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  visibility: visible!important;
}
#main li:nth-child(2):hover ~ #marker {
  -webkit-transform: translate(153px, 0);
  -moz-transform: translate(153px, 0);
  -ms-transform: translate(153px, 0);
  transform: translate(153px, 0);
}

#main li:nth-child(3):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
   visibility: visible!important;
}
#main li:nth-child(3):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  visibility: visible!important;
}
#main li:nth-child(3):hover ~ #marker {
  -webkit-transform: translate(300px, 0);
  -moz-transform: translate(300px, 0);
  -ms-transform: translate(300px, 0);
  transform: translate(300px, 0);
}

#main li:nth-child(4):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  visibility: visible!important;
}
#main li:nth-child(4):hover ~ #marker {
  -webkit-transform: translate(500px, 0);
  -moz-transform: translate(500px, 0);
  -ms-transform: translate(500px, 0);
  transform: translate(500px, 0);
}

.full-width {
    text-decoration: underline;
    color: black;
}
