<p>Меню: |<a href="{% url 'base:ticket_index' %}">К списку заявок</a>|<a href="{% url 'base:new_ticket' %}">Создать заявку</a>|</p>
<H1><b>Заявка №{{ ticket.id }} от {{ ticket.ticket_date }} {% if no_object_message %} {{ no_obj_messge }} {% else %}  на объект: {{ ticket_object.obj_number }} {% endif %}</b></H1>
<p>По адресу: 
{% if ticket.obj_area %}{{ ticket_object.obj_area }} р-н, {% endif %}
ул {{ ticket.ticket_str }}, 
дом {{ ticket.ticket_build }}, 
{% if ticket.ticket_build_housing %} корпус {{ ticket.ticket_build_housing }}, {% endif %}
парадная {{ ticket.ticket_par }}</p>
<p><b>Открыта:</b> {{ ticket.ticket_date|timesince }} назад</p>
<p><b>Статус:</b> {% if ticket_message %}{{ ticket_message }}{% else %}{{ ticket.ticket_status }}{% endif %}</p>
{% if ticket.ticket_status.id == 1 %}
<form action="{% url 'base:ticket_close' ticket.id %}" method="post">
{% csrf_token %}
{% if exact_message %}<p> {{ exact_message }} </p> {% endif %}
{% if object_exact %}
<input list="object_exact" name="obj_exact" placeholder="Тип лифта" size="35">
<datalist id="obj_exact">
{% for type in object_exact %}
<option>{{ type }}</option>
{% endfor %}
</datalist>
{% endif %}
<input list="object_exact" name="obj_exact" placeholder="Тип лифта" size="20">
<datalist id="obj_exact">
{% for type in object_exact %}
<option>{{ type }}</option>
{% endfor %}
</datalist>
{% if error_message %}<p style='color:red'><b> {{ error_message }} </b></p>{% endif %}
<input type="submit" value="Закрыть заявку">
</form>
{% endif %}


<p><b>Время простоя:</b> {{ ticket.ticket_duration|default_if_none:ticket.ticket_date|timesince }}</p>
<p><b>Содержание:</b></p>
<p>{{ ticket.ticket_content }}</p>

<p><b>Комментарии:</b></p>
<ul>
{% for comment in ticket.comments_set.all|dictsort:"comment_date" %}
    <li><b>№{{ forloop.counter }}</b> от <b>{{ comment.comment_user }}</b> оставлен <b>{{ comment.comment_date }}</b></br>{{ comment.comment_content }}</li>
{% empty %}
    <p style='color:grey'>Пока нет ни одного комментария</p>
{% endfor %}

<form action="{% url 'base:ticket_detail' ticket.id %}" method="post">
{% if errormessage %}<p style="color:red"><b>{{ errormessage }}</b></p>{% endif %}
{% if message %}<p style="color:grey"><b>{{ message }}</b></p>{% endif %}
{% csrf_token %}
<p><textarea name="comment_content" required placeholder="Текст комментария" cols="80" rows="5"></textarea></p>
<p><input type="submit" value="Отправить"></p>
</form>

</ul>
