{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}"> 

{% include "base/header.html" with page_name='' page_type='detail' %}
{% include "base/mainmenu.html" with new='true' index='true' only %}

<div class="demo-ribbon"></div> 
<div class="content_wrap">
<div class="index_table">
<div class="detail_ticket_row"><span class="detail_name">Адрес заявки</span>
<span class="detail_info">
{% if ticket_object.obj_area %}{{ ticket_object.obj_area }} р-н, {% endif %}
{{ ticket.ticket_str }}, 
дом {{ ticket.ticket_build }}{% if ticket.ticket_build_housing %}, корп. {{ ticket.ticket_build_housing }}{% endif %}{% if ticket.ticket_par %}, парадная {{ ticket.ticket_par }}{% endif %}{% if ticket.ticket_obj_type %}, тип лифта: {{ ticket.ticket_obj_type }}{% endif %}.
</span>
</div>
<div class="detail_ticket_row"><span class="detail_name">Открыта: </span><span class="detail_info">{{ ticket.ticket_user.first_name }} {{ ticket.ticket_user.last_name }} {{ ticket.ticket_date|timesince }} назад</span></div>
<div class="detail_ticket_row"><span class="detail_name">Статус: </span><span class="detail_info">{% if ticket_message %} {{ ticket_message }} {% else %}{{ ticket.ticket_status }}{% endif %}</span></div>

{% if ticket.ticket_status.id == 1 %}
<form id="ticket_close" action="{% url 'base:ticket_close' ticket.id %}" method="post" class="ticket_close_form">
{% csrf_token %}

{% if exact_preview.obj_number %}<div class="detail_ticket_row"><span class="detail_name">Номер лифта: </span><span class="detail_info"> {{ exact_preview.obj_number }} </span></div>{% endif %}
{% if exact_preview.id %}<input type="hidden" name="ticket_obj" value="{{ exact_preview.id }}">{% endif %}

{% if object_exact %}
    {% if object_exact.obj_type %}
        {{ object_exact.obj_type }}
    {% else %}
    <div class="detail_ticket_row">{% if exact_message %}<span class="detail_name">{{ exact_message }}{% endif %}<span class="detail_info"><input list="object_exact" name="obj_exact" placeholder="Тип лифта" size="20" autocomlete="of"></span>
        <datalist id="object_exact">
        {% for obj in object_exact %}
            <option>{{ obj.obj_type }}</option>
        {% endfor %}
        </datalist>
    </div>
    {% endif %}
{% endif %}

{% if ticket.ticket_status_id != '2' %}
    <div class="ticket_close"><input type="submit" value="Закрыть заявку" class="ticket_close_button send_button"></div>
{% endif %}

{% if error_message %}<div class="detail_ticket_row error_message"><span>{{ error_message }}</span></div>{% endif %}
</form>
{% endif %}


<div class="detail_ticket_row"><span class="detail_name">Время простоя: </span><span class="detail_info">
{% if ticket.ticket_duration %}
    {% if ticket.duration_time %}
        {{ ticket.duration_time }}
    {% endif %}
{% else %}
    {{ ticket.ticket_date|timesince }}
{% endif %}</span></div>
<div class="detail_ticket_row"><span class="detail_name">Содержание: </span><span class="detail_info"> {{ ticket.ticket_content }}</span></div>

<div class="comments"><span class="detail_name">Комментарии:</span>
<div>
{% for comment in ticket.comments_set.all|dictsort:"comment_date" %}
    <div class="comment_row"><span class="comment_num">№{{ forloop.counter }}</span>
    {% if comment.comment_date %}<span class="comment_date">[{{ comment.comment_date }}]</span>{% endif %}
    {% if comment.comment_user %}<span class="comment_user">{{ comment.comment_user }} написал:</span>{% endif %}
    </br>
    {% if comment.comment_content %}<span class="comment_content">{{ comment.comment_content }}</span>{% endif %}
    {% if message %}{% if forloop.last %}<div class="comment_add_message">{{ message }}</div>{% endif %}{% endif %}
    </div>
{% empty %}
    <span class="no_data">Пока нет ни одного комментария</p>
{% endfor %}
<a href="#" class="fur" id="comment_form_show">комментировать</a>
</div>

<form id="new_comment_form" action="{% url 'base:ticket_detail' ticket.id %}" method="post" class="new_comment_form" {% if not message %}hidden{% endif %}>
{% if errormessage %}<div class="error_message">{{ errormessage }}</div>{% endif %}
{% csrf_token %}
<div class="comment_content_wrap"><textarea name="comment_content" required placeholder="Содержание комментария" cols="50" rows="4" class="new_comment_content"></textarea></div>
<input class="send_button" type="submit" value="Отправить комментарий">
</form>

</div>
</div>
</div>
<script type="text/javascript" src="{% static 'base/button.js' %}"></script>
<script type="text/javascript" src="{% static 'base/menu.js' %}"></script>