{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

<p>Меню: <a href="{% url 'base:new_ticket' %}">Создать заявку</a></p>
<H1>Список заявок</H1>
{% if ticket_list %}
    <table>
    {% for ticket in ticket_list %}
        <tr>
        <tr><td><a href="{% url 'base:ticket_detail' ticket.id %}">Заявка №{{ ticket.id }}</a></td><td>от {{ ticket.ticket_date }}</td></li>
        <td>{{ ticket.ticket_area }}</td><td>{{ ticket.ticket_str }}, {{ ticket.ticket_build }}, 
        {% if ticket.ticket_build_housing %}{{ ticket.ticket_build_housing }}{% endif %}
        {% if ticket.ticket_object.obj_type %}{{ ticket.ticket_object.obj_type }}{% endif %}
        {{ ticket.ticket_content }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Нет заявок</p>
{% endif %}
</br>
<div class="pagination">
    <span class="step-links">
        {% if ticket_list.has_previous %}
            <a href="?page=1" title="На первую страницу">&laquo;</a>
            <a href="?page={{ ticket_list.previous_page_number }}" title="На предыдущую страницу"><</a>
        {% endif %}

        <span class="current">
            Страница {{ ticket_list.number }} из {{ ticket_list.paginator.num_pages }}.
        </span>

        {% if ticket_list.has_next %}
            <a href="?page={{ ticket_list.next_page_number }}" title="На следующую страницу">></a>
            <a href="?page={{ ticket_list.paginator.num_pages }}" title="На последнюю страницу">&raquo;</a>
        {% endif %}
    </span>
</div>