{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

<div class="menu">Меню: <a href="{% url 'base:new_ticket' %}">Создать заявку</a></div>

<div class="index_table">

<H1 class="header">Список заявок</H1>

<div class="pagination">
    <span class="step-links">
        {% if ticket_list.has_previous %}
            <a href="?page=1" title="На первую страницу">&laquo;</a>
            <a href="?page={{ ticket_list.previous_page_number }}" title="На предыдущую страницу"><</a>
        {% endif %}

        <span class="current">
            Страница {{ ticket_list.number }} из {{ ticket_list.paginator.num_pages }}.
        </span>

        {% if ticket_list.has_next %}
            <a href="?page={{ ticket_list.next_page_number }}" title="На следующую страницу">></a>
            <a href="?page={{ ticket_list.paginator.num_pages }}" title="На последнюю страницу">&raquo;</a>
        {% endif %}
    </span>
</div>

{% if ticket_list %}
    {% for ticket in ticket_list %}
        <div class="ticket_row_{{ forloop.counter }} ticket_row"><span class="ticket_numdate ticket_index_table"><a href="{% url 'base:ticket_detail' ticket.id %}">Заявка №{{ ticket.id }}</a> от {{ ticket.ticket_date }}</span>
        <span class="ticket_area ticket_index_table">{{ ticket.ticket_area }}</span><span class="ticket_adress ticket_index_table">{{ ticket.ticket_str }}, {{ ticket.ticket_build }}, 
        {% if ticket.ticket_build_housing %}{{ ticket.ticket_build_housing }}{% endif %}
        {% if ticket.ticket_object.obj_type %}{{ ticket.ticket_object.obj_type }}{% endif %}</span>
        <span class="ticket_content ticket_index_table">{{ ticket.ticket_content }}<span class="ticket_status ticket_index_table {% if ticket.ticket_status.id == 1 %}red_text{% endif %}">{{ ticket.ticket_status }}</span></span>
        </div>
    {% endfor %}
{% else %}
    <p>Нет заявок</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if ticket_list.has_previous %}
            <a href="?page=1" title="На первую страницу">&laquo;</a>
            <a href="?page={{ ticket_list.previous_page_number }}" title="На предыдущую страницу"><</a>
        {% endif %}

        <span class="current">
            Страница {{ ticket_list.number }} из {{ ticket_list.paginator.num_pages }}.
        </span>

        {% if ticket_list.has_next %}
            <a href="?page={{ ticket_list.next_page_number }}" title="На следующую страницу">></a>
            <a href="?page={{ ticket_list.paginator.num_pages }}" title="На последнюю страницу">&raquo;</a>
        {% endif %}
    </span>
</div>

</div>