<!--MAIN MENU-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/menu.css' %}">
<div class="st_nav">
    <ul class="st_ul">
        {% if index %}<li class="st_li st_li_1"><a href="{% url 'base:ticket_index' %}" class="st_a anchor"><span>Список заявок</span></a></li>{% endif %}
        {% if new %}<li class="st_li st_li_2"><a href="{% url 'base:new_ticket' %}" class="st_a anchor"><span>Создать заявку</span></a></li>{% endif %}
        <li class="st_li st_li_3"><a href="#" class="st_a anchor"></a></li>
        <li class="st_li st_li_4"><a href="#" class="st_a anchor"></a></li>
        {% if filter %}<li class="st_li st_li_5"><div class="filter_sidebar st_a anchor"><span>Фильтры</span>
        <div class="filter_menu">
            <ul>
                <li><a href="{% url 'base:ticket_index' %}">Дата</a></li>
                <li><a href="{% url 'base:index_filter' 'type' %}">Состояние</a></li>
                <li><a href="{% url 'base:index_filter' 'area' %}">Район</a></li>
                <li><a href="{% url 'base:index_filter' 'str' %}">Улица</a></li>
            </ul>
            </div>
        </div></li>{% endif %}
    </ul>
</div>
<!--END MAIN MENU-->
