<p>Меню: |<a href="{% url 'base:ticket_index' %}">К списку заявок</a>|<a href="{% url 'base:new_ticket' %}">Создать заявку</a>|</p>

<H1>Форма подачи заявки</H1>
<p>Заявка №{{ ticket_number|add:"1" }}</p>
{% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'base:new_ticket' %}" method="post">
{% csrf_token %}

<fieldset>
<legend>Выберите адрес</legend>
<p><input list="obj_str" name="obj_str" placeholder="Улица" size="35">
<datalist id="obj_str">
{% for street_name in obj_str %}
    <option>{{ street_name }}</option>
{% endfor %}
</datalist>
<input list="obj_build" name="obj_build" placeholder="Дом" size="35">
<datalist id="obj_build">
{% for obj in obj_build %}
    <option>{{ obj.obj_build }}</option>
{% endfor %}
</datalist>
<input list="obj_buildhousing" name="obj_buildhousing" placeholder="Корпус" size="35"></p>
<datalist id="obj_buildhousing">
{% for obj in obj_buildhousing %}
    <option>{{ obj.obj_build_housing }}</option>
{% endfor %}
</datalist>
<p><input list="obj_par" name="obj_par" placeholder="Парадная" size="35">
<datalist id="obj_par">
{% for obj in objects_query|dictsort:'obj_par' %}
    <option>{{ obj.obj_par }}</option>
{% endfor %}
</datalist>
<input list="obj_type" name="obj_type" placeholder="Тип лифта" size="35"></p>
<datalist id="obj_type">
{% for objtype in obj_type %}
    <option>{{ objtype }}</option>
{% endfor %}
</datalist>
</fieldset>

<fieldset>
<legend>Заявка</legend>
<p><input type="datetime-local" name="ticket_date"> - Автоматически если не заполнять</p>
<p><textarea name="ticket_content" required placeholder="Текст заявки" cols="80" rows="5"></textarea></p>
</fieldset>
<p><input type="submit" value="Отправить"></p>
</form>
