{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

<div class="menu">Меню: |<a href="{% url 'base:ticket_index' %}">К списку заявок</a>|<a href="{% url 'base:new_ticket' %}">Создать заявку</a>|</div>

<div class="index_table">
<H1 class="header">Форма подачи заявки</H1>
<div>Заявка №{{ ticket_number|add:"1" }}</div>
{% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'base:new_ticket' %}" method="post">
{% csrf_token %}

<fieldset>
<legend>Выберите адрес</legend>
<div class="new_ticket_row"><input list="obj_str" name="obj_str" id="str" placeholder="Улица" size="35"></div>
<datalist id="obj_str">
{% for street_name in obj_str %}
    <option>{{ street_name }}</option>
{% endfor %}
</datalist>
<div class="new_ticket_row"><input list="obj_build" name="obj_build" id="build" placeholder="Дом" size="35"></div>
<datalist id="obj_build">
{% for obj in obj_build %}
    <option>{{ obj.obj_build }}</option>
{% endfor %}
</datalist>
<div class="new_ticket_row"><input list="obj_buildhousing" name="obj_buildhousing" id="build_housing" placeholder="Корпус" size="35"></div>
<datalist id="obj_buildhousing">
{% for obj in obj_buildhousing %}
    <option>{{ obj.obj_build_housing }}</option>
{% endfor %}
</datalist>
<div class="new_ticket_row"><input list="obj_par" name="obj_par" id="par" placeholder="Парадная" size="35"></div>
<datalist id="obj_par">
{% for obj in objects_query|dictsort:'obj_par' %}
    <option>{{ obj.obj_par }}</option>
{% endfor %}
</datalist>
<div class="new_ticket_row"><input list="obj_type" name="obj_type" id="type" placeholder="Тип лифта" size="35"></div>
<datalist id="obj_type">
{% for objtype in obj_type %}
    <option>{{ objtype }}</option>
{% endfor %}
</datalist>
</fieldset>

<fieldset>
<legend>Заявка</legend>
<div class="new_ticket_row"><input type="datetime-local" name="ticket_date"> - Автоматически если не заполнять</div>
<div class="new_ticket_row"><textarea name="ticket_content" required placeholder="Текст заявки" cols="80" rows="5"></textarea></div>
</fieldset>
<input class="send_button" type="submit" value="Отправить">
</form>
</div>

{% load static %}
<script type="text/javascript" src="{% static 'base/filter.js' %}"></script>