{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

<div class="menu">Меню: |<a href="{% url 'base:ticket_index' %}">К списку заявок</a>|<a href="{% url 'base:new_ticket' %}">Создать заявку</a>|</div>

<div class="index_table">
<H1 class="header">Форма подачи заявки</H1>
<div>Заявка №{{ ticket_number|add:"1" }}</div>

<form id="new_ticket_form" action="{% url 'base:new_ticket' %}" method="post">
{% csrf_token %}

<fieldset>
<legend>Выберите адрес</legend>
<div class="new_ticket_row"><input list="obj_str" name="obj_str" id="str" placeholder="Улица" size="35" autocomplete="off"
{% if str_value %}value="{{str_value}}"{% endif %}></div>
<datalist id="obj_str">
{% for street_name in obj_str %}
    <option>{{ street_name }}</option>
{% endfor %}
</datalist>
<div class="new_ticket_row"><input list="obj_build" name="obj_build" id="build" placeholder="Дом" size="35" autocomplete="off"
{% if build_value %}value="{{build_value}}"{% endif %}></div>
<datalist id="obj_build">
{% for obj in obj_build %}
    <option>{{ obj.obj_build }}</option>
{% endfor %}
</datalist>
{% if obj_buildhousing %}
<div class="new_ticket_row"><input list="obj_buildhousing" name="obj_buildhousing" id="build_housing" placeholder="Корпус" size="35" autocomplete="off"
{% if build_housing_value %}value="{{build_housing_value}}"{% endif %}></div>
<datalist id="obj_buildhousing">
{% for obj in obj_buildhousing %}
    <option>{{ obj.obj_build_housing }}</option>
{% endfor %}
</datalist>
{% endif %}
{% if obj_par %}
<div class="new_ticket_row"><input list="obj_par" name="obj_par" id="par" placeholder="Парадная" size="35" autocomplete="off"
{% if par_value %}value="{{par_value}}"{% endif %}></div>
<datalist id="obj_par">
{% for par in obj_par %}
    <option>{{ par.obj_par }}</option>
{% endfor %}
</datalist>
{% endif %}
<div class="new_ticket_row"><input list="obj_type" name="obj_type" id="type" placeholder="Тип лифта" size="35" autocomplete="off"
></div>

{% if obj_type.first.type_name %} {% comment %} default obj_type list {% endcomment %}
<datalist id="obj_type">
{% for obj in obj_type %}
    <option>{{ obj.type_name }}</option>
{% endfor %}
</datalist>
{% endif %}
{% if obj_type.first.obj_type %} {% comment %} filtered obj_type list {% endcomment %}
<datalist id="obj_type">
{% for obj in obj_type %}
    <option>{{ obj.obj_type }}</option>
{% endfor %}
</datalist>
{% endif %}
</fieldset>

<fieldset>
<legend>Заявка</legend>
<div class="new_ticket_row"><input type="datetime-local" name="ticket_date" id="ticket_date"> <input type="checkbox" id="date_checker" name="date_checker"><label for="date_checker">Выбрать время</label></div>
<div class="new_ticket_row"><textarea name="ticket_content" id="ticket_content" required placeholder="Текст заявки" cols="80" rows="5" autocomplete="off"
{% if content_value %}value="{{content_value}}"{% endif %}></textarea></div>
</fieldset>
<input id="send_button" class="send_button" type="submit" value="Отправить"> {% if help_message %}<span>{{ help_message }}</span>{% endif %} {% if error_message %}<span style="color:red"><strong>{{ error_message }}</strong></span>{% endif %}
</form>
</div>

{% load static %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% load static %}
<script type="text/javascript" src="{% static 'base/filter.js' %}"></script>
